.navbar{
    display: flex;
    background-color:darkcyan;
    padding:10px;
    justify-content:space-between;

}
.Link{
    list-style:none;
    text-decoration: none;
    background-color:rgb(107, 184, 180);
    padding:5px;
    justify-content: space-around;
    border: 2px solid lightseagreen;
    border-radius: 2px;
    color: beige;
}
.Link:hover{
    background-color:mediumturquoise;
}